---
const PROJECTS = [
    {
        title: "as",
        description: "desc",
        link: "link",
        github: 'git',
        image: 'imagen',
        tags: ['js','astro']
    }
]
---

{
    PROJECTS.map(({title, description, image, tags}) => (
        <article>
        <h3>{title}</h3>
        <p>{description}</p>
        <ul>
            {tags.map(tag => (
                <li>{tag}</li>
            ))}
        </ul>
        <img
            src={image}
            alt={`Captura de pantalla del proyecto ${title}`}
            >
        </article>
    ))
}